<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<meta content="width=device-width, initial-scale=1" name="viewport">
</head>
<body>
<div class="container">
	<div class="row justify-content-center">
		<h2 class="mt-5">Add New User</h2>
	</div>

	<div id="success-alert" th:if="${success != null}">
		<div class="alert alert-success d-flex align-items-center mt-3" role="alert" th:if="${success eq true}">
			<p th:text="${message}"></p>
		</div>
		<div class="alert alert-danger  mt-3" role="alert" th:if="${success eq false && messageList != null}">
			<p>Les champs suivant sont incorrect : </p>
			<ul th:each="m: ${messageList}">
				<li th:text="${m}"></li>
			</ul>
		</div>
	</div>

	<div class="row justify-content-center py-5">
		<form action="#" th:action="@{/user/validate}" th:object="${user}" class="form-horizontal border p-5 my-2" method="post" style="width: 80%">

			<div class="mb-3">
				<label class="form-label" for="inputFullName">Full Name</label>
				<input class="form-control" id="inputFullName" th:field="*{fullname}" placeholder="Full Name"  type="text">
			</div>

			<div class="mb-3">
				<label class="form-label" for="inputUserName">User Name</label>
				<input class="form-control" id="inputUserName" th:field="*{username}" placeholder="User Name"  type="text">
			</div>

			<div class="mb-3">
				<label class="form-label" for="inputPassword">Password</label>
				<input class="form-control" id="inputPassword" th:field="*{password}" placeholder="Password"  type="password">
			</div>

			<div class="mb-3">
				<p>Role</p>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="inlineRadioAdmin" id="inlineRadioAdmin" th:field="*{role}" th:value="ADMIN">
					<label class="form-check-label" for="inlineRadioAdmin">Admin</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="inlineRadioUser" id="inlineRadioUser" th:field="*{role}" th:value="USER">
					<label class="form-check-label" for="inlineRadioUser">User</label>
				</div>
			</div>


			<div class="mb-3 d-flex justify-content-center mt-5">
				<a class="btn btn-danger btn-sm mr-2" style="width: 100px;" href="/user/list">Cancel</a>
				<input class="btn btn-primary btn-sm" style="width: 100px;" type="submit" value="Add user">
			</div>
		</form>
	</div>
</div>
<script>
	$("#success-alert").fadeToggle(10000);
	$("#error-alert").fadeToggle(10000);
</script>
</body>
</html>